<mat-sidenav-container>
    <mat-sidenav #drawer class="sidenav"
    fixedInViewport [attr.role] ="(isHandset$ | async) ? 'dialog': 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side' "
    [opened] = "false"
    >
    <mat-toolbar>🎶</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/richter" (click)="drawer.close()">Richter</a>
            <a mat-list-item routerLink="/mtukudzi" (click)="drawer.close()">Mtukudzi</a>
            <a mat-list-item routerLink="/aviici" (click)="drawer.close()">Aviici</a>
            <a mat-list-item routerLink="/marley" (click)="drawer.close()">Marley</a>
            <a mat-list-item routerLink="/sinatra" (click)="drawer.close()">Sinatra</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" 
            mat-icon-button (click)="drawer.toggle()" 
            *ngIf="isHandset$ | async"
            >
            <mat-icon aria-label="Side nav toggle icon">🎶</mat-icon>
            </button>

            <span class="logo" routerLink="/artists">Home</span>

            <span class="fill-space"></span>

            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/richter">Richter</a>
                <a mat-button routerLink="/mtukudzi">Mtukudzi</a>
                <a mat-button routerLink="/aviici">Aviici</a>
                <a mat-button routerLink="/marley">Marley</a>
                <a mat-button routerLink="/sinatra">Sinatra</a>
            </div>
        </mat-toolbar>

        <ng-content></ng-content>

    </mat-sidenav-content>

</mat-sidenav-container>